.faqList {
    margin-top: 24px;
}

.faqItem {
    border-top: 1px solid rgba(122, 64, 58, 0.2);
    padding: 15px 0;
}

.backLink { 
    display: block;
    text-align: center;
}

.questionButton {
    background: none;
    border: none;
    text-align: left;
    font-size: clamp(1.5rem, 3vw, 2.8rem);
    color: #7a403a;
    cursor: pointer;
}

.answer {
    margin-top: 14px;
    font-size: clamp(1.1rem, 2vw, 1.8rem);
}
.answer ul {
    padding-left: 2.5em;
}

.answer li {
    margin-bottom: 4px;
}

.faqTitle {
    font-size: clamp(2.4rem, 4vw, 3.6rem);
    margin-bottom: 18px;
    text-align: center;
}

.shortTitle {
    display: none;
}

@media (max-width: 768px) {
    .fullTitle {
        display: none;
    }

    .shortTitle {
        display: inline;
    }
}