.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.homeLogo {
    width: clamp(400px, 45vw, 600px);
    padding: 15px;
}

.textLinks {
    display: flex;
    gap: 50px;
    font-weight: 200;
    font-size: clamp(23px, 1.8vw, 36px);
    text-align: center;
}

.socialLinks {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(1px, 2vw, 22px);
    padding: 5px;
}

.socialLinks img {
    width: clamp(75px, 4vw, 1500px);
}

@media (max-width: 768px) {
    .textLinks {
        flex-direction: column;
        gap: 10px;
    }
}